<div class="container">
    <div class="cliente">
        <h5>Cliente: {{this.pedidoServices.pedido.nombreCliente}}</h5>
        <h6>Total: {{this.pedidoServices.pedido.total | currency: 'mxn: '}}</h6>
    </div>

    <div class="detalle">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ProductoID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Total</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of this.pedidoServices.pedido.pedidoDetalle; let posicion = index">
                <th scope="row">{{producto.productoID}}</th>
                <td>{{producto.nombreProducto}}</td>
                <td>
                  <input (input)="calcularTotal(posicion)" type="text" [(ngModel)]="producto.cantidad">
                </td>
                <td>{{producto.precio | currency: 'mxn '}}</td>
                <td>{{producto.total | currency: 'mxn '}}</td>
                <td>
                  <button class="btn btn-danger" (click)="eliminar(posicion)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-primary" (click)="guardar()">Guardar</button>
    </div>
</div>